<a href="https://colab.research.google.com/github/PHRCpvh/LearningPython/blob/master/Aprendendo_Python_igual_uma_mula.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estação Espacial Internacional

In [ ]:
import requests
import json

In [ ]:
response = requests.get("http://api.open-notify.org/iss-now.json")
print(response.status_code)

200

In [ ]:
print(response.json())

{'message': 'success', 'timestamp': 1596834760, 'iss_position': {'latitude': '26.0333', 'longitude': '-159.6444'}}

In [ ]:
json_response = response.json()
latitude = json_response['iss_position']['latitude']
longitude = json_response['iss_position']['longitude']
if latitude in range(0,90):
  print('Hemisfério Norte')
else:
  print('Hemisfério Sul')
if longitude in range(0,180):
  print('Hemisfério Ocidental')
else:
  print('Hemisfério Oriental')
print('Latitude: ',latitude)
print('Longitude: ',longitude)

Hemisfério Sul
Hemisfério Oriental
Latitude:  26.0333
Longitude:  -159.6444

# Bolsa de Frankfurt (ALE)

In [ ]:
import pandas as pd
import requests
import json

In [ ]:
response = requests.get('https://www.quandl.com/api/v3/datasets/FSE/BDT_X')

In [ ]:
response_json = response.json()
df = pd.DataFrame(response_json['dataset']['data'], columns = response_json['dataset']['column_names'])
print(df)

            Date   Open  ...  Daily Traded Units  Daily Turnover
0     2020-08-07  33.15  ...                None             NaN
1     2020-08-06  34.00  ...                None             NaN
2     2020-08-05  31.90  ...                None             NaN
3     2020-08-04  32.10  ...                None             NaN
4     2020-08-03  32.10  ...                None             NaN
...          ...    ...  ...                 ...             ...
5278  2000-01-07    NaN  ...                None             0.0
5279  2000-01-06    NaN  ...                None             0.0
5280  2000-01-05    NaN  ...                None             0.0
5281  2000-01-04    NaN  ...                None             0.0
5282  2000-01-03    NaN  ...                None             0.0

[5283 rows x 11 columns]